.DS_Store
**/.DS_Store

.fleet/**
.idea/**

**/.qodana/**

/**/target/
**/*.versionsBackup

**/*.hwcache/**
**/*.hprof
**/hs_err_pid**
**/results/**
/utils/data/**
/utils/generated_images/**

# Javac argument files
javac.*.args

# Generated code and libs
Extensions/**
**/Extensions/**

# Python
**/__pycache__

**/docs/apidocs