# Mac OS
.DS_Store
**/.DS_Store

# IDEs
.fleet/**
.idea/**

# Static Analysis
**/.qodana/**

# Build
**/dependency-reduced-pom.xml
target/**
**/target/**
commands/**
**.versionsBackup

# Testing and Monitoring
**/*.hwcache/**
**/*.hprof
**/hs_err_pid**
**/results/**
/utils/data/**
/utils/generated_images/**

# Python
**/__pycache__/

# Javac argument files
javac.*.args

# Generated code and libs
Extensions/**
**/Extensions/**

# Python
**/__pycache__

**/docs/apidocs

# Data
flowtreedb**
graphpersistdb**