name: Qodana

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'maven'

      - name: Validate Maven Wrapper
        run: mvn --version

      - name: Run Tests
        run: |
          LD_LIBRARY_PATH=Extensions mvn test \
           -DAR_HARDWARE_DRIVER=native \
           -DAR_HARDWARE_MEMORY_SCALE=7 \
           -DAR_HARDWARE_LIBS=Extensions \
           -DAR_TEST_PROFILE=pipeline

      - name: Archive coverage data
        uses: actions/upload-artifact@v4
        with:
          name: maven-coverage-data
          path: .qodana/code-coverage

      - name: Qodana Scan
        uses: JetBrains/qodana-action@main
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
          args: "-i,.,--linter,jetbrains/qodana-jvm"
          pr-mode: false

      - name: Github Scan
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json